In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('Hypoxemia3.csv')
print(df.columns)
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle

Index(['oxygen_saturation'], dtype='object')

In [2]:
df.head(10)

   oxygen_saturation
0                 90
1                 90
2                 90
3                 90
4                 90
5                 90
6                 90
7                 90
8                 90
9                 90

In [3]:
df.dtypes

oxygen_saturation    int64
dtype: object

In [4]:
bins = [0,95,98]
group_names =['0','1']
df['Output'] = pd.cut(df['oxygen_saturation'],bins,labels = group_names)
df = df.dropna(subset=['Output'])
df['Output'] = df['Output'].astype(int)

In [5]:
df.head(10)

   oxygen_saturation  Output
0                 90       0
1                 90       0
2                 90       0
3                 90       0
4                 90       0
5                 90       0
6                 90       0
7                 90       0
8                 90       0
9                 90       0

In [6]:
print(df.groupby('Output').size())

Output
0    4050
1    5868
dtype: int64

In [7]:
df.corr().T

                   oxygen_saturation    Output
oxygen_saturation           1.000000  0.881543
Output                      0.881543  1.000000

In [8]:

import sklearn
from sklearn.neural_network import MLPClassifier

In [9]:
x=df[["oxygen_saturation"]]
y=df[["Output"]]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size =0.2)

In [12]:
x_train.shape

(7934, 1)

In [13]:
y_train.shape

(7934, 1)

In [14]:
clf = MLPClassifier(hidden_layer_sizes=(51),solver="lbfgs",alpha=1e-5)

In [15]:
clf.fit(x,y)

C:\Users\ashish\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=51, solver='lbfgs')

In [16]:
y_pred = clf.predict(x_train)

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,y_pred))

1.0

In [18]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_train,y_pred))

[[3234    0]
 [   0 4700]]

In [19]:
a=clf.predict(([[96]]))

In [20]:
if a==0:
    print("you suffer from hypoxmia")
    
else:
    print("you are normal")

you are normal

In [ ]:
#to save the model below code

In [ ]:
from joblib import dump, load
dump(clf, 'Hypoxemia.joblib')

In [ ]:
clf = load('Hypoxemia.joblib')

In [24]:
import pickle
with open('Hypoxemia_pickle','wb') as file:
    pickle.dump(clf,file)

In [25]:
with open('Hypoxemia_pickle','rb') as file:
    mp = pickle.load(file)